## <span style="color:red"> PHASE 3 PROJECT SUBMISSION </span>
| Student Pace             | Project Review Date  | Instructor Name     | Blog Post URL  |
|--------------------------|--------------------------|---------------------|----------------|
| `Part Time`                | `September 01st, 2024`      | `Josphat Njuguna Wanjiru`      | _/_               |

**STUDENT NAME: JOSPHAT NJUGUNA WANJIRU**

# <span style="color:red"> SyriaTel CHURN PREDICTION MODEL </span>

## <span style="color:red"> PROJECT OVERVIEW </span> <a class="anchor" id="first-bullet"></a>

This project seeks to build a Machine Learning classifier algorithm that can predict the probability of customers churning SyriaTel company using data such as

## <span style="color:red"> BUISNESS UNDERSTANDING </span> <a class="anchor" id="first-bullet"></a>

Syriatel is a mobile network provider in Syria.[1] It is one of the only two providers in Syria, the other being MTN Syria. In 2022 the Syrian telecommunications authority awarded the third telecom license to Wafa Telecom.[3] It offers LTE with 150 Mb/s speeds, under the brand name Super Sur

## <span style="color:red"> BUSINESS PROBLEM </span> <a class="anchor" id="fourth-bullet"></a>

The ability to predict that a particular customer is at a high risk of churning, while there is still time to do something about it, represents a huge additional potential revenue source for every online business. Besides the direct loss of revenue that results from a customer abandoning the business, the costs of initially acquiring that customer may not have already been covered by the customer’s spending to date. (In other words, acquiring that customer may have actually been a losing investment.) Furthermore, it is always more difficult and expensive to acquire a new customer than it is to retain a current paying customer

Customer churn is the loss of clients or customers. Predicting churn can help the Telecom company, so it can effectively focus a customer retention marketing program (e.g. a special offer) to the subset of clients which are most likely to change their carrier. Therefore, the “churn” column is chosen as target and the following predictive analysis is a supervised classification problem.

## <span style="color:red"> BUSINESS AIM AND OBJECTIVES </span> <a class="anchor" id="fifth-bullet"></a>

The aim of this project is to predict customer churn and retention in SyriaTel company

The objectives of the are:

1. 

#### **`STUDY QUESTIONS:`**<br> <a class="anchor" id="sixth-bullet"></a>


## <span style="color:red"> DATA DESCRIPTION </span>

### <span style="color:red"> 

The dataset contains data on the customers of a SyriaTel Telecom company. Each row represents a customer and the columns contain customer’s attributes which are described in the following:

Rows 
Columns 
Each row is a customer



| Field Name                 | Description                                                                                   |
|----------------------------|-----------------------------------------------------------------------------------------------|
| **state**                  | The state the user lives in                                                                   |
| **account length**         | The number of days the user has had this account                                              |
| **area code**              | The code of the area the user lives in                                                        |
| **phone number**           | The phone number of the user                                                                  |
| **international plan**     | `true` if the user has the international plan, otherwise `false`                              |
| **voice mail plan**        | `true` if the user has the voice mail plan, otherwise `false`                                 |
| **number vmail messages**  | The number of voice mail messages the user has sent                                           |
| **total day minutes**      | Total number of minutes the user has been in calls during the day                             |
| **total day calls**        | Total number of calls the user has made during the day                                        |
| **total day charge**       | Total amount of money the user was charged by the Telecom company for calls during the day    |
| **total eve minutes**      | Total number of minutes the user has been in calls during the evening                         |
| **total eve calls**        | Total number of calls the user has made during the evening                                    |
| **total eve charge**       | Total amount of money the user was charged by the Telecom company for calls during the evening|
| **total night minutes**    | Total number of minutes the user has been in calls during the night                           |
| **total night calls**      | Total number of calls the user has made during the night                                      |
| **total night charge**     | Total amount of money the user was charged by the Telecom company for calls during the night  |
| **total intl minutes**     | Total number of minutes the user has been in international calls                              |
| **total intl calls**       | Total number of international calls the user has made                                         |
| **total intl charge**      | Total amount of money the user was charged by the Telecom company for international calls     |
| **customer service calls** | Number of customer service calls the user has made                                            |
| **churn**                  | `true` if the user terminated the contract, otherwise `false`                                 |

### `Target Labels`
The labels in this dataset are binary. The two target variables in the target column churn are:
False - The customer is retained
True - The customer churns the SyriaTel company

## <span style="color:red">1. EXPLORATORY DATA ANALYSIS (EDA)</span> <a class="anchor" id="eighth-bullet"></a>
In the EDA section, we explored the various features in the data, clean and tranform some of the features.
### <span style="color:red">1.1 DATA UNDERSTANDING</span> <a class="anchor" id="ninth-bullet"></a>

In [6]:
# scientific computing libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# data mining libaries
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA#, FastICA
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, GridSearchCV, learning_curve
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_curve, auc, confusion_matrix, accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

# Scalers
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, LabelBinarizer, label_binarize
from sklearn.preprocessing import OneHotEncoder

In [9]:
# Import the SyriaTel customer data
syria_tel_df = pd.read_csv('./bigml_59c28831336c6604c800002a.csv')

In [10]:
# Check the data type
syria_tel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [12]:
# Check the value counts of the target
syria_telcom_df['churn'].value_counts()

churn
False    2850
True      483
Name: count, dtype: int64

In [13]:
syria_tel_df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False